[submodule "HTML5_Gaming"]
	path = HTML5_Gaming
	url = https://github.com/Oli8/HTML5_Gaming.git
[submodule "scoreKeeper"]
	path = scoreKeeper
	url = https://github.com/Oli8/scoreKeeper
[submodule "Wakemon"]
	path = Wakemon
	url = https://github.com/Oli8/Wakemon.git
[submodule "BlackJackJs"]
	path = BlackJackJs
	url = https://github.com/Oli8/BlackJackJs.git
